<!doctype html>
<html>
<head>
<title>Anderson Photo Library Tag Search Results</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<link rel="stylesheet" href="api/search-list-style.css?v=1.02"></link>
<link rel="stylesheet" href="api/spinner.css?v=1.02"></link>
<link rel="stylesheet" href="api/modal-style.css?v=1.03"></link>

</head>
<body>
    
    <div class="photo-table" ng-app="PhotoTable" ng-controller="PhotoTableCont">
		<h2 class="header"> {{row_count}} results in path and file name order; click thumbnails for larger views.</h2>

		<div class = "grid-container">
			<div class="file_list">
				<table>
					<tr id="headers">
						<th id="num">NUM</th>
						<th id="file_path">FILE PATH</th>
						<th id="file_name">FILE NAME</th>
						<th id="thumb">THUMBNAIL</th>
					</tr>
			
					<tr ng-repeat="i in imageList" ng-cloak>
						<td>{{$index + 1}}</td>
						<td id = {{i.path}}>{{i.path}}</td>
						<td>{{i.file}}</td>
						<td><div style="max-width: 150px; overflow: hidden"><image src = "{{i.thumb}}/{{i.file}}" ng-click = "clickThumb(i.image,i.file,i.id)"></image></div></td>
					</tr>
				</table>
				<div class="loading-spinner" ng-show="showSpinner"></div>
			</div>	
			<div class="to_be_image">
					<img id= "photo" class="image" onerror="myFunction()" ng-click = "clickImage(image_webpath,image_file)"></img>
					<p id="demo"></p>
                    <script> function myFunction() {
                        document.getElementById("demo").innerHTML = "The full-sized copy of this image could not be loaded likely due to the fact that your internet IP address (displayed at the bottom right of this page) is not on the access list for full-sized images.";
                        }
                    </script>	
			</div>
			<div class = "search_tags">
				<table>
					<tr id="headers">
						<th id="tag_id">TAG ID</th>
						<th id="tag_name">TAG Label(s)</th>
					</tr>
					<tr ng-repeat="i in tags_searched">
						<td>{{i.id}}</td>
						<td>{{i.names}}</td>
					</tr>
				</table>
			</div>			
			<div class = "button-grid-area">
				<button onclick="document.getElementById('searched-tags-modal').style.display='block'" class="button">Forget what tags you searched for? Click here.</button>
				<button onclick="document.getElementById('edit-tags-modal').style.display='block'" class="button">Need to edit this image's tags? Click here.</button>
			</div>
			<div class = "image_tags">

				<table>
					<tr id="headers">
						<th id="num">TAG</th>
						<th id="tag_id">TAG ID</th>
						<th id="tag_name">NAME(s), YEAR (if known), and OTHER TAGS</th>
					</tr>
				    <tr ng-repeat="i in tags_assigned">
						<td>{{$index  + 1}}</td>
						<td>{{i.id}}</td>
						<td>{{i.name}}</td>
					</tr>
				</table>
			</div>
		</div>
        <div class="image-info">Image ID: {{image_id}} | Image Path\File Name: {{image_path}}\{{image_file}}
		</div>
		<div class="clientip">Your Internet IP is {{ip}}
		</div>
		<div class="modal" id="searched-tags-modal">
			<div class="modal-content modal-card modal-animate-zoom">
				<header class="modal-header">
					<h3>Tag(s) you searched for (using search type {{searchType}}):</h3>
				</header>
				<div class="tags-modal-container">
					<table width=95% align="center">
						<tr id="headers">
							<th id="tag_id" style="padding:3px;">Tag ID</th>
							<th id="tag_name" style="padding:3px;">Tag Label(s)</th>
							<th id="tag_name" style="padding:3px;">Tag Type</th>
						</tr>
						<tr ng-repeat="i in tags_searched">
							<td style="padding:3px;">{{i.id}}</td>
							<td style="padding:3px;">{{i.names}}</td>
							<td style="padding:3px;">{{i.type}}</td>
						</tr>
					</table>
				</div>
				<div class="modal-base">
					<button class="modal-right"
					onclick="document.getElementById('searched-tags-modal').style.display='none'">Close</button>
				</div>
			</div>
		</div>
		<div class="modal" id="edit-tags-modal">
			<div class="modal-content modal-card modal-animate-zoom">
				<header class="modal-header">
					<h3>Full tag editing for this image coming soon!</h3>
				</header>
				<div class="tags-modal-container">
					<table width=95% align="center">
						<tr> 
							<th>#</th>
							<th>ID</th>
							<th>TAG</th>
							<th>DEL</th>
						</tr>
						<tr ng-repeat="t in tags_assigned">
							<td>{{$index + 1}}</td>
							<td>{{t.id}}</td>
							<td>{{t.name}}</td>
							<td style="text-align:center"><button ng-click="deleteTagLink(t.id,image_id)">X</button></td>
						</tr>
					</table>
					
					<div class="addSection"><center><b>SEARCH FOR TAG(S) TO ADD</b></center><span class="br"></span>
						<form>
						<input id="searchbar" type="text" ng-model="searchText" ng-change="change(text)" placeholder="Type search text here"/>
						<button class="funbutton" ng-click="addTagLink()" type="submit">add</button>
						<span class="br"></span>
							<select class="add_select" id="add_select">
								<option ng-repeat="entry in entries" value={{entry.id}}>{{entry.name}}</option>
							</select>
						</form>
					</div>
				</div>
				<div class="modal-base">
					<button class="modal-right"
					onclick="document.getElementById('edit-tags-modal').style.display='none'">Close</button>
				</div>
			</div>
		</div>		
    </div>
</body>

<script>

/*
document.addEventListener(
	"click",
	function(event) {
	if (
		!event.target.closest(".modal")
		) {
			document.getElementById('searched-tags-modal').style.display='none'
		}
	},
	false
)
*/

var app = angular.module('PhotoTable',[]);

app.controller('PhotoTableCont', function($scope, $http, $window){
	//verifies window location
	window.onload = function(){
		var url = "https://photos.dbq-andersons.com/searchList.html";
		if(window.location!=url){
			window.location = url;
		}
		$scope.start();
	};
	
	//runs things which happen when the site is opened
	$scope.start = function(){
		$scope.getList();
		
		
	};
//method which gets the image list
	
	$scope.getList = function(){
		toAdd = localStorage.getItem("tagList");
		numTags = localStorage.getItem("numTags");
		searchType = localStorage.getItem("searchType");
		yearCount = localStorage.getItem("yearCount");
		otherCount = localStorage.getItem("otherCount");
		eventCount = localStorage.getItem("eventCount");
		holidayCount = localStorage.getItem("holidayCount");
		peopleCount = localStorage.getItem("peopleCount");
		
		$scope.showSpinner = true;

		$http.get("https://photos.dbq-andersons.com/api/product/get_images_by_tag.php/?searchType="+searchType + "&tag="+toAdd + "&num="+numTags + "&yearCount="+yearCount + "&otherCount="+otherCount + "&eventCount="+eventCount + "&holidayCount="+holidayCount + "&peopleCount="+peopleCount,).then(
		function successfulCallback(response){
				$scope.imageList = response.data.images;
				$scope.searchedtags = toAdd;
				$scope.row_count = $scope.imageList.length;
				$scope.showSpinner = false;
				$scope.getSearchedTags(toAdd);
				$scope.searchType = searchType.toUpperCase();
			},
			function errorCallback(response){
				console.log("Error "+response)
				$scope.row_count = "0";
				$scope.showSpinner = false;
				$scope.getSearchedTags(toAdd);
				$scope.searchType = searchType.toUpperCase();
			});
	};

//Method that gets the client IP

    $http.get("https://ipinfo.io/json").then(function (response)
        {
            $scope.ip = response.data.ip;
        });

//method which gets the image

	$scope.clickThumb = function(path, name, id){
		var toSrc = path+"\/"+name;
		document.getElementById("photo").src=toSrc;
		$scope.getTags(id);
		$scope.getImageInfo(id);
	};

//method that pops up a new tab with the full sized-image
	
	$scope.clickImage = function(path, name){
		var toSrc = path+"\/"+name;
		$window.open(toSrc, '_blank');
	};
	
//getting the tags to put underneath the photo
	$scope.getTags = function(imageid){
		$http.get("https://photos.dbq-andersons.com/api/product/get_tags_by_image.php?use=view&image="+imageid,).then(
			function successfulCallback(response){
				$scope.tags_assigned = response.data.tags;
				//console.log($scope.tags_assigned);

			},
			function errorCallback(response){
				console.log(response);
		});
	}

//getting information about the tags that were included in the search
	$scope.getSearchedTags = function(toAdd){
		$http.get("https://photos.dbq-andersons.com/api/product/get_tags_info_by_ids.php?tags="+toAdd,).then(
			function successfulCallback(response){
				$scope.tags_searched = response.data.tags;
				console.log($scope.tags_searched);
			},
			function errorCallback(response){
				console.log(response);
		});
	}
	
//getting image information to display in the bottom row and drive the clickImage method
	$scope.getImageInfo = function(imageid){
		$http.get("https://photos.dbq-andersons.com/api/product/get_image_info_by_id.php?image="+imageid,).then(
			function successfulCallback(response){
				$scope.image_id = response.data.id;
				$scope.image_hash = response.data.hash;
				$scope.image_path = response.data.path;
				$scope.image_file = response.data.file;
				$scope.image_webpath = response.data.webpath;
				//console.log($scope.image_id,$scope.image_hash,$scope.image_path,$scope.image_file);
			},
			function errorCallBack(response){
				console.log(response);
		});
	}

//deleting tag link rom tag-edit modal
	$scope.deleteTagLink=function(tag_id,image){
		var values_to_send="?tag="+tag_id+"&image="+image;
		var r = confirm("Do you want to delete tag "+tag_id+"?");
		if(r==true){
			$http.get("https://photos.dbq-andersons.com/api/product/delete_tag_link.php"+values_to_send,).then(
				function successfulCallback(response){
					//alert("Tag deleted.");
					$scope.getTags(image);
					//document.getElementById("searchbar").value = "";
				},
				function errorCallback(response){
					//alert("tag not added");
					console.log(response);
			});
		}	
	}
 
});



</script>
</html>
