<!doctype html>
<html>
<head>
<title>Anderson Photo Library Tag Search Results</title>
<link rel="stylesheet" href="api/search-list-style.css?v=1.02"></link>
<link rel="stylesheet" href="api/spinner.css?v=1.02"></link>
</head>
<body>
    
    <div class="photo-table" ng-app="PhotoTable" ng-controller="PhotoTableCont">
		<h1 class="header"> {{row_count}} results in path and file name order; click thumbnails for larger views.</h1>
		<div class = "grid-container">
			<div class="file_list">
				<table>
					<tr id="headers">
						<th id="num">NUM</th>
						<th id="file_path">FILE PATH</th>
						<th id="file_name">FILE NAME</th>
						<th id="thumb">THUMBNAIL</th>
					</tr>
			
					<tr ng-repeat="i in imageList" ng-cloak>
						<td>{{$index + 1}}</td>
						<td id = {{i.path}}>{{i.path}}</td>
						<td>{{i.file}}</td>
						<td ><image src = "{{i.thumb}}/{{i.file}}" ng-click = "clickThumb(i.image,i.file,i.id)"></image></td>
					</tr>
				</table>
				<div class="lds-hourglass" ng-show="imLoading"></div>
			</div>	
			<div class="to_be_image">
					<h6>{{image_webpath}}/{{image_file}}</h6>
					<img id= "photo" class="image" onerror="myFunction()" ng-click = "clickImage(image_webpath,image_file)"></img>
					<p id="demo"></p>
                    <script> function myFunction() {
                        document.getElementById("demo").innerHTML = "The full-sized copy of this image could not be loaded likely due to the fact that your internet IP address (displayed at the bottom right of this page) is not on the access list for full-sized images.";
                        }
                    </script>	
			</div>
			<div class = "current_tags">
				<table>
					<tr id="headers">
						<th id="num">TAG</th>
						<th id="tag_id">TAG ID</th>
						<th id="tag_name">NAME(s), YEAR (if known), and OTHER TAGS</th>
					</tr>
				    <tr ng-repeat="i in tags_assigned">
						<td>{{$index  + 1}}</td>
						<td>{{i.id}}</td>
						<td>{{i.name}}</td>
					</tr>
				</table>
			</div>
		</div>
        <div class="image-info">Image ID: {{image_id}} | Image Path\File Name: {{image_path}}\{{image_file}}
		</div>
		<div class="clientip">Your Internet IP is {{ip}}
		</div>
	</div>
</body>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script>

var app = angular.module('PhotoTable',[]);



app.controller('PhotoTableCont', function($scope, $http, $window){
	//verifies window location
	window.onload = function(){
		var url = "https://photos.dbq-andersons.com/searchList.html";
		if(window.location!=url){
			window.location = url;
		}
		$scope.start();
	};
	
	//runs things which happen when the site is opened
	$scope.start = function(){
		$scope.getList();
		
		
	};
//method which gets the image list
	
	$scope.getList = function(){
		toAdd = localStorage.getItem("tagList");
		numTags = localStorage.getItem("numTags");
		searchType = localStorage.getItem("searchType");
		yearCount = localStorage.getItem("yearCount");
		otherCount = localStorage.getItem("otherCount");
		eventCount = localStorage.getItem("eventCount");
		holidayCount = localStorage.getItem("holidayCount");
		peopleCount = localStorage.getItem("peopleCount");
		
		$scope.imLoading = true;

		$http.get("https://photos.dbq-andersons.com/api/product/get_images_by_tag.php/?searchType="+searchType + "&tag="+toAdd + "&num="+numTags + "&yearCount="+yearCount + "&otherCount="+otherCount + "&eventCount="+eventCount + "&holidayCount="+holidayCount + "&peopleCount="+peopleCount,).then(
		function successfulCallback(response){
				$scope.imageList = response.data.images;
				$scope.row_count = $scope.imageList.length;
				$scope.imLoading = false;
			},
			function errorCallback(response){
				console.log("Error "+response)
				$scope.row_count = "0";
				$scope.imLoading = false;
			});
	};

//Method that gets the client IP

    $http.get("https://ipinfo.io/json").then(function (response)
        {
            $scope.ip = response.data.ip;
        });

//method which gets the image

	$scope.clickThumb = function(path, name, id){
		var toSrc = path+"\/"+name;
		document.getElementById("photo").src=toSrc;
		$scope.getTags(id);
		$scope.getImageInfo(id);
	};
	
	$scope.clickImage = function(path, name){
		var toSrc = path+"\/"+name;
		console.log(toSrc);
		//document.getElementById("photo").src=toSrc;
		$window.open('toSrc', '_blank');
	};
	
	//getting the tags to put underneath the photo
	$scope.getTags = function(imageid){
		$http.get("https://photos.dbq-andersons.com/api/product/get_tags_by_image.php?use=view&image="+imageid,).then(
			function successfulCallback(response){
				$scope.tags_assigned = response.data.tags;
				//console.log($scope.tags_assigned);
			},
			function errorCallback(response){
				console.log(response);
		});
	
	}
	//getting image information to display in the bottom row
	$scope.getImageInfo = function(imageid){
		$http.get("https://photos.dbq-andersons.com/api/product/get_image_info_by_id.php?image="+imageid,).then(
			function successfulCallback(response){
				$scope.image_id = response.data.id;
				$scope.image_hash = response.data.hash;
				$scope.image_path = response.data.path;
				$scope.image_file = response.data.file;
				$scope.image_webpath = response.data.webpath;
				//console.log($scope.image_id,$scope.image_hash,$scope.image_path,$scope.image_file);
			},
			function errorCallBack(response){
				console.log(response);
		});
	}			
});



</script>
</html>
