<!doctype html>
<html>
<head>
<title>Anderson Photo Library Tag Maintenance</title>
<!--<script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="api/tag-maintenance-style.css?v=1.3"></link>
</head>
<body>

<div class="photo-table" ng-app="TagMaint" ng-controller="TagMaintCont">
	<div class="grid-container">
		<div class="header">
			<h2 class="title">Anderson Photo Library Tag Maintenance</h2>
		</div>
		
		<div class="tag-add">
			<h3>You entered: {{tag_names}}. You selected: {{tag_type}}.</h3>
				Tag Type: <select ng-model="tag_type" id='tag_type'>
					<option value="">Select a type for the new tag.</option>
					<option ng-repeat="t in tag_types" value={{t.type}}>{{t.type}}</option>
				</select>
				Tag Name(s): <input ng-model="tag_names" placeholder="Enter the name(s) for the new tag."/>

				<button class="funbutton" ng-click="addTag()" type="button">add</button>
				</form>
<!--			<form>
			<select id="tag_type">
				<option value="none" selected disabled hidden>Select a type for the new tag.</option>
				<option ng-repeat="t in tag_types" value={{t.type}}>{{t.type}}</option>
			</select>
			<input id="tag_names" type="text" placeholder="Enter the name(s) for the new tag."/>
			<button class="funbutton" ng-click="addTag(tag_type, tag_names)" type="button">add</button>
			</form>-->
		
		</div>
		
		<div class="tag-index">
		
		<table>
			<tr><td style="text-align:center">TAGS</td></tr>
			<tr><td style="text-align:center">
				<div>
					<a href="#A">A</a> |
					<a href="#B">B</a> |
					<a href="#C">C</a> |
					<a href="#D">D</a> |
					<a href="#E">E</a> |
					<a href="#F">F</a> |
					<a href="#G">G</a> |
					<a href="#H">H</a> |
					<a href="#I">I</a> |
					<a href="#J">J</a> |
					<a href="#K">K</a> |
					<a href="#L">L</a> |
					<a href="#M">M</a> |
					<a href="#N">N</a> |
					<a href="#O">O</a> |
					<a href="#P">P</a> |
					<a href="#Q">Q</a> |
					<a href="#R">R</a> |
					<a href="#S">S</a> |
					<a href="#T">T</a> |
					U |
					<a href="#V">V</a> |
					<a href="#W">W</a> |
					X |
					Y |
					<a href="#Z">Z</a>
				</div>
			</td></tr>
		</table>

		
		</div>
		
		<div class="tag-list">
			<table>
				<tr id="headers">
					<th id="num">NUM</th>
					<th id="tag_id">TAG ID</th>
					<th id="tag_name">TAG NAME(s)</th>
					<th id="tag_type">TAG TYPE</th>
					<th id="edit_tag">EDIT TAG</th>
					<th id="delete_tag">DELETE TAG</th>
				</tr>
			
				<tr ng-repeat="a in all_tags">
					<td><a id="{{a.initial}}"></a>{{$index + 1}}</td>
					<td>{{a.id}}</td>
					<td>{{a.names}}</td>
					<td>{{a.type}}</td>
					<td class="delete" style="padding:2px;text-align:center"><button ng-click="notYetFunctional()"><i class="fa fa-edit" style="font-size:15px;"></i></button></td>
					<td class="delete" style="padding:2px;text-align:center"><button ng-click="deleteTag(a.id)"><i class="fa fa-trash" style="font-size:15px;"></i></button></td>
				</tr>
			</table>
		</div>
	</div>
</div>
	
	
	
</body>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script>
//var this_page = 1;
//var search_term = "";
//var user = null;
var app = angular.module('TagMaint',[]);
//var read_from = "https://photos.dbq-andersons.com/api/product/read_images_paging.php";
app.controller('TagMaintCont', function($scope, $http){
	/*runs when welcome button was pressed*/
	window.onload = function(){
		var url = "https://photos.dbq-andersons.com/tag-maintenance.html";
		if(window.location!=url){
			window.location = url;
		}
		$scope.getAllTags();
		$scope.getTagTypes();
	};
	

	//getting list of all tags
	$scope.getAllTags = function(){
		$http.get("https://photos.dbq-andersons.com/api/product/get_all_non-year_tags.php",).then(
			function successfulCallback(response){
				$scope.all_tags = response.data.all_tags;
				//console.log($scope.all_tags);
			},
			function errorCallback(response){
				console.log(response);
		});
	
	}

	//getting list of tag types
	$scope.getTagTypes = function(){
		$http.get("https://photos.dbq-andersons.com/api/product/get_tag_types.php",).then(
			function successfulCallback(response){
				$scope.tag_types = response.data.tag_type;
				//console.log($scope.tag_types);
			},
			function errorCallback(response){
				console.log(response);
		});
	
	}
	
	//delete a given tag (after confirmation)
	$scope.deleteTag=function(tag_id){
		var values_to_send="?tag_id="+tag_id;
		var r = confirm("Do you want to delete tag "+tag_id+" from the database (including all tag links)?");
		if(r==true){
			$http.get("https://photos.dbq-andersons.com/api/product/delete_tag.php"+values_to_send,).then(
				function successfulCallback(response){
					//alert("new tag added");
					$scope.getAllTags();
					//document.getElementById("searchbar").value = "";
				},
				function errorCallback(response){
					//alert("tag not added");
					console.log(response);
			});
		}	
	}
	
	//adding tag link with option
	$scope.addTag=function(tag_type,tag_names){
		var tag_type=$scope.tag_type;
		var tag_names=$scope.tag_names;
		var values_to_send="?tag_type="+tag_type+"&tag_names="+tag_names;
		$http.get("https://photos.dbq-andersons.com/api/product/add_new_tag.php"+values_to_send,).then(
			function successfulCallback(response){
				//alert("new tag added");
				//$scope.getAllTags();
				//document.getElementById("newtagbar").value = "";
			},
			function errorCallback(response){
				//alert("tag not added");
				//console.log(response);
		});	
	}
	
	$scope.notYetFunctional = function(){
		alert("This is not yet functional, check back later for updates");
	};
	
	$scope.tag_type = "test";


});


</script>

</html>
