p{
	margin:0;
}

.modal{
	z-index:3;
	display:none;
	padding-top:150px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}
	
.modal-link-button{
	background-color: #1C6973;
	border-color: #2B303A;
	border-radius:3px;
	padding: 3px;
	border-width: 0px;
	font-size: 12px;
	color: black;
}

.modal-link-button:hover{
	cursor: pointer;
}

.modal-link-button:active{
	border-style: none;
	outline: none;
}

.modal-content{
	margin:auto;
	background-color:#1C6973;
	position:relative;
	outline:0;
	width:600px;
	color:white; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modal-animate-zoom{
	animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

.modal-card,.w3-hover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.modal-right{
	float:right!important
}

.modal-header{
	background-color: #2B303A;
	border-color: #2B3;
	margin-top:0px;
	margin-bottom:16px; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 5px;
}

.modal-container{
	margin:0;
	margin-top:16px;
	margin-bottom:16px; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-bottom: 12px;
	line-height: 1.5;
	padding-left: 5px;
	padding-right: 5px;
}

.modal-tab-bar {
	width:auto;
	border:none;
	display:inline-flex;
	outline:0;
	border-bottom: 1px solid #2B303A;
}

.modal-base{
	align:right;
}

.modal-tab-button{
	background-color: #F7F7F2;
	border-color: #2B303A;
	border-radius:0px;
	padding: 10px;
	border-width: 0px;
	font-size: 14px;
	color: black;
	width: 150px;
}

.modal-light-grey,.modal-hover-light-grey:hover{
	color:#000!important;background-color:#9b9b9b!important
}

