::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb{
	background-color: #7C7C7C;
	border-radius: 2px;
	opacity: .2;
}

/*
These items affect everything
*/

*{
	outline: none;
}

body,html {
	/*height: 100%;*/
	width: 100%;
	margin: 0;
}

body{
	background-color: #2B303A;
}

h2 {
	color: white;
	margin-left: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
}

h1 {
	color:white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
}

h3 {
	color:white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
}

.btn{
	display: inline-block;
	position: fixed;
	right: 12px;
	top: 22px;
}

.clientip{
	display: inline-block;
	color: white;
	position: fixed;
	right: 12px;
	bottom: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
}

.image-info{
	display: inline-block;
	color: white;
	position: fixed;
	left: 12px;
	bottom: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
}

/*grid*/
.grid-container{
	display: grid;
	grid-template-columns: 58% 40%;
	grid-template-rows: 68% 5% 25%;
	top: 7%;
	height: 88%;
	position: absolute;
	width: 98%;
	grid-column-gap: 2%;
	grid-row-gap: 10px;
	border-top: 3px solid #594157;
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
	border-bottom: 3px solid #594157;
	background-color: #1C6973;
	grid-template-areas: 
		'list image'
		'list button-location'
		'list image_tags';
}

.grid-container td, th{
	padding: 3px;
}

.to_be_image{
	grid-area:image;
	height: 1fr;
	width: 1fr;
	display: flex;
	justify-content: center;
}

.to_be_image .image{
	object-fit: contain;
	display: block;
	position: relative;
	vertical-align: center;
	max-height: 100%;
	max-width: 100%;	
}	
	
.image_tags {
	grid-area:image_tags;
	position: relative;
	overflow: auto;
	
}

.image_tags table{
	width: 100%;
	border-collapse: collapse;
	border-radius: 4px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.search_tags {
	grid-area:search_tags;
	position: relative;
	overflow: auto;
	
}

.search_tags table{
	width: 100%;
	border-collapse: collapse;
	border-radius: 4px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.file_list{
	grid-area:list;
	overflow: auto;
}

.file_list table{
	width: 100%;
	border-collapse: collapse;
	border-radius: 4px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
	

table, th, td {
	border: 1px solid black;
}

th {
	position: sticky;
	top: 0;
	background-color: #7C7C7C;
}

table tr:nth-child(even){
	background-color:#F7F7F2;
}

table tr:nth-child(odd){
	background-color: #7C7C7C;
}

.placeholder{
	grid-area:bottom;
}

.button-grid-area{
	grid-area: button-location;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button{
	background-color: #F7F7F2;
	border-color: #2B303A;
	border-radius:3px;
	padding: 3px;
	border-width: 1.5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
}

/*add section*/

.addSection{
	grid-area: add;
	/*grid-column: 3 / 4; 
	grid-row: 2 / 3;*/
	overflow-y: auto;
	overflow-x: auto;
	background-color: #7C7C7C;
	border: 1px solid black;
	padding: 7px;
	color: black;
	width: 94%;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.addSection .br{
	display: block;
	margin-bottom: 10px;
}


.addSection select{
	border-color: #2B303A;
	border-radius: 4px;
	border-width: 1.5px;
	padding: 3px;
	font: 10px;
}

.addSection input{
	border-width: 1.5px;
	border: 1.5px solid #2B303A;
	border-radius: 4px;
	padding: 3px;
	font: 10px;
	width: 50%;
}

.addSection .add_select{
	width: 100%;
	overflow-x: auto;
}