::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px #7C7C7C;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb{
	background: #2B303A;
}


button{
	background-color: #F7F7F2;
	border-color: #2B303A;
	border-radius:3px;
	padding: 3px;
	border-width: 1.5px;
}

button:hover{
	background-color: #7C7C7C;
}

button:active{
	border-style: none;
	outline: none;
}

select{
	border-color: #2B303A;
	border-radius:2px;
	padding: 3px;
	border-width: 1.5px;
	background-color: #F7F7F2;
}

select:active{
	border-style: none;
	outline: none;
}

input{
	border-color: #2B303A;
	background-color: #F7F7F2;
	border-radius:2px;
	padding: 3px;
	border-width: 1.5px;
	width: 350px;
}

input:active{
	border-style: none;
	outline: none;
}

body{
	background-color: #594157;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	font-size: 18px;
}

.grid-container{
	background-color: #248794;
	border: 1px solid black;
	width: 99vw;
	height: 97vh;
	padding-top: 0px;
	padding-bottom: 5px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 75px 75px 1fr;
	grid-template-areas: 
	'header'
	'tag-index'
	'tag-list';
}

.header{
	position: relative;
	width: 100%;
	text-align: center;
	vertical-align: center;
	background-color: #2B303A;
	color: #F7F7F2;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

#page_tracker {
	text-align: right;
	position: absolute;
	top: 10px;
	right: 10px;
}

#user_name {
	text-align: left;
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
}


.tag-add{
	display: block;
	position: relative;
	width: 100%;
	height: 75px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 5px;
}

.tag-index{
	display: block;
	position: relative;
	width: 99%;
	height: 44px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 5px;
	margin-left: 5px;
	font-weight: bold;
}


.search{
	position: absolute;
	left: 10px;
	top: 10px;
}

.otherTop{
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	
}

.pages{
	position: absolute;
	left: 10px;
	top: 40px;
	text-align: left;
}

.page_numbers{
	width: 40px;
}

.pages2 input{
	width: 50px;
}

.pages2{
	text-align: right;
	position: absolute;
	top: 40px;
	right: 10px;
}

.tag-list{
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.tag-list #num{
	width: 40px;
}

.tag-list #tag_id{
	width: 60px;
}

.tag-list #tag_name{
	width: auto;
}

.tag-list #tag_type{
	width: 200px;
}

.tag-list #link_count{
	width: 65px;
	text-align: center;
}

.tag-list #edit_tag{
	width: 70px;
	text-align: center;
}

table{
	width: 75%;
	table-layout: fixed;
	margin: auto;
}

table, th , td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  border-top: none;
}

table tr:nth-child(odd) {
  background-color: #d3d3d3;
}

table tr:first-child {
  background-color: #2B303A;
  color: #F7F7F2;
}

table tr:nth-child(even) {
  background-color: #F7F7F2;
}

.funbutton {font-size: 14px;}

.alphabetLinks{
	color: black;
	text-decoration: none;
}