::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px #7C7C7C;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb{
	background: #2B303A;
}

/*
These items affect everything
*/

*{
	outline: none;
}

body,html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
	background-color: #2B303A;
}


button{
	background-color: #F7F7F2;
	border-color: #2B303A;
	border-radius:3px;
	padding: 3px;
	border-width: 1.5px;
	font-size: 10px;
}

button:hover{
	background-color: #7C7C7C;
}

button:active{
	border-style: none;
	outline: none;
}

input{
	border-color: #2B303A;
	border-radius:2px;
	padding: 3px;
	border-width: 1.5px;
	font: 10px;
}

/*grid*/
.grid-container{
	display: grid;
	grid-template-columns: 100px 1fr 500px 200px 100px;
	grid-template-rows: repeat(2, 1fr) 75px;
	top: 10%;
	height: 85%;
	position: absolute;
	width: 100%;
	grid-column-gap: 25px;
	grid-row-gap: 10px;
	border-top: 3px solid #594157;
	padding-top: 12px;
	padding-bottom: 5px;
	border-bottom: 3px solid #594157;
	background-color: #1C6973;
	grid-template-areas: 
		'left photo tags fun right'
		'left photo add fun right'
		'. info info info .';
}


.borders .header {
	text-align: center;
}

.borders {
	text-align: right;
}

.borders input{
	background-color: #F7F7F2;
	color: black;	
	border: 1.5px inline;
	border-color: #248794;
	right: 35px;
}

.borders input::placeholder{
	color: #594157;
}

.borders button{
	background-color: #F7F7F2;
	border: 1.5px inline;
	border-color: #248794;
}
	
.top_right {
	text-align: right;
	position: fixed;
	top: 7px;
	right: 7px;
}

/*sides*/
.left{
	/*grid-row: 1 / span 2;
	grid-column: 1/ 2;*/
	grid-area: left;
}

.left .prev {
	position: absolute;
	top: 50%;
	left: 20px;
	background-color: #7C7C7C;
	color: #F4F5F6;
	border-style:inline;
	border-width: 2px;
	border-color: #594157;
	border-radius: 10px;
	padding: 12px 24px;
	font-size: 14px;
}

.left .prev:hover{
	background-color: #1C6973;
}

.right {
	/*grid-row: 1 / span 2;
	grid-column: 5 / 5;*/
	grid-area: right;
}

.right .next {
	position: absolute;
	top: 50%;
	right: 20px;
	background-color: #7C7C7C;
	color: #F4F5F6;
	border-style:inline;
	border-width: 2px;
	border-color: #594157;
	border-radius: 10px;
	padding: 12px 24px;
	font-size: 14px;
}

.right .next:hover{
	background-color: #1C6973;
}


/*image*/
.to_be_image{
	grid-area: photo;
	/*grid-column: 2 / 3;
	grid-row: 1 / 3;*/
	height: 2fr;
	width: 1fr;
}

.to_be_image .image{
	object-fit: contain;
	display: block;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
	max-height: 100%;
	max-width: 100%;	
}

/*tags used*/

.tagsUsed{
	grid-area: tags;
	/*grid-column: 3 / 4;
	grid-row: 1 / 2;*/
	overflow-y: auto;
	overflow-x: auto;
}

.tagsUsed table{
	
	width: 100%;
	border-collapse: collapse;
	border-radius: 4px;
}

.tagsUsed .delete{
	text-align: center;
}

.tagsUsed .delete{
	text-align: center;
}

.grid-container td, th{
	padding: 3px;
}

table, th, td {
	border: 1px solid black;
}

table tr:nth-child(even){
	background-color:#F7F7F2;
}

table tr:nth-child(odd){
	background-color: #7C7C7C;
}


/*add section*/

.addSection{
	grid-area: add;
	/*grid-column: 3 / 4; 
	grid-row: 2 / 3;*/
	overflow-y: auto;
	overflow-x: auto;
	background-color: #7C7C7C;
	border: 1px solid black;
	padding: 7px;
}

.addSection .br{
	display: block;
	margin-bottom: 10px;
}


.addSection select{
	border-color: #2B303A;
	border-radius: 4px;
	border-width: 1.5px;
	padding: 3px;
	font: 10px;
}

.addSection input{
	border-width: 1.5px;
	border: 1.5px solid #2B303A;
	border-radius: 4px;
	padding: 3px;
	font: 10px;
}

.addSection .add_select{
	width: 490px;
	overflow-x: auto;
}

/* info */

.info{
	position: absolute;
	/*grid-column: 2 / 5;
	grid-row: 3 / 3;*/
	grid-area: info;

}


/*functions*/

.fun .not_title{
	padding: 4px;
	height: 250px;
}

.fun{
	position: absolute;
	grid-area: fun;
	border: 1px solid black;
	background-color: #7C7C7C;
	padding: 7px;
	height: 50%;
	top: 50%;
	width: 100%;
	left: 0px;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 14px;
	
}

.br{
	display: block;
	margin-bottom: 15px;
}


@media (max-width: 1500px){
	.grid-container{
		display: grid;
		grid-template-columns: 100px 500px 200px 100px;
		grid-template-rows: repeat(3, 33%);
		grid-template-areas: 
			'left photo photo right'
			'left tags fun right'
			'left add fun right';
		top: 8%;
		height: 84%;
		padding-bottom: 20px;
	}
	
	.header{ 
		color: #A6A6A6;
	}
	
	
	/*image*/
	.to_be_image{
		grid-area: photo;
		height: 2fr;
		width: 700px;
	}
	
	/* info */
	.info{
		color: #A6A6A6;
		left: 30px;
		bottom: -90px;
	}
	
	.fun{
		position: absolute;
		height: 50%;
		top: 50%;
		width: 100%;
		left: 0px;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}